h1{

  width: 50%;
  /* 背景颜色 */
  background-color: #f00;
  /* 居中 */
  text-align: right;
  /* 字体颜色 */
  color: #ff7;
  /* 字体大小 */
  font-size: 30px;
  /* 字体粗细 */
  font-weight: bold;
  /* 字体样式 */
  font-style: italic;
  /* 字体系列 */
  font-family: "微软雅黑", serif;
  /* 字体行高 */
  line-height: 50px;
  /* 字体间距 */
  letter-spacing: 10px;
  /* 字体下标颜色 */
  text-decoration-color: #fff;
}
h2 
{
  text-align: justify;
  /* 字体颜色 */
  color: #ff7;
 /* 背景图片 */
 background-image: url('http://www.baidu.com/img/bdlogo.gif');
 
}
h3{
  text-align: right
}
body{
  background-image: url('http://www.baidu.com/img/bdlogo.gif');
  background-repeat: no-repeat;
  background-position: top right;
  margin-right:200px;
}